In [130]:
import sqlite3
from datetime import date, datetime, timedelta
conn = sqlite3.connect('tasks.db',check_same_thread=False)
c = conn.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS tasks ( title TEXT, tag TEXT, deadline DATETIME, about TEXT, task_status TEXT, time_estimation TEXT, start_time DATETIME, end_time DATETIME, deadline_met BOOL )')

def add_row(title, tag, deadline, about, task_status, time_estimation, start_time, end_time, deadline_met):
    c.execute('INSERT INTO tasks(title, tag, deadline, about, task_status, time_estimation, start_time, end_time, deadline_met) VALUES (?,?,?,?,?,?,?,?,?)',(title, tag, deadline, about, task_status, time_estimation, start_time, end_time, deadline_met))
    conn.commit()
    
def view_all_data():
    c.execute('SELECT * FROM tasks')
    data = c.fetchall()
    return data

def view_all_task_names():
    c.execute('SELECT DISTINCT title FROM tasks')
    data = c.fetchall()
    return data
              
def get_task(task):
    c.execute('SELECT * FROM tasks WHERE title="{}"'.format(task))
    data = c.fetchall()
    return data
              
def get_task_by_status(task_status):
    c.execute('SELECT * FROM tasks WHERE task_status="{}"'.format(task_status))
    data = c.fetchall()
    
def get_today_tasks(deadline):
    c.execute('SELECT * FROM tasks WHERE deadline_date="{}"'.format(deadline))
    data = c.fetchall()
    return data
              
# def edit_task_data(new_task,new_task_status,new_task_date,task,task_status,task_due_date):
#     c.execute("UPDATE taskstable SET task =?,task_status=?,task_due_date=? WHERE task=? and task_status=? and task_due_date=? ",(new_task,new_task_status,new_task_date,task,task_status,task_due_date))
#     conn.commit()
#     data = c.fetchall()
#     return data
              
def delete_data(task):
    c.execute('DELETE FROM tasks WHERE title="{}"'.format(task))
    conn.commit()

In [10]:
create_table()

In [26]:
title1, tag1, deadline1, about1, task_status1, time_estimation1, start_time1, end_time1, deadline_met1 = ['HW','studies','2024-03-20','HW on course 096540', 'Done', '2 hours', '2024-03-20 09:00', '2024-03-20 11:00', True]
title2, tag2, deadline2, about2, task_status2, time_estimation2, start_time2, end_time2, deadline_met2 = ['HW','studies','2024-03-21','HW course 097222', 'Done', '9 hours', '2024-03-19 09:00', '2024-03-21 11:00', True]

In [31]:
add_row(title1, tag1, deadline1, about1, task_status1, time_estimation1, start_time1, end_time1, deadline_met1)
add_row(title2, tag2, deadline2, about2, task_status2, time_estimation2, start_time2, end_time2, deadline_met2)

In [30]:
delete_data('HW')

In [35]:
add_row(title2, tag2, deadline2, about2, task_status2, time_estimation2, start_time2, end_time2, deadline_met2)

In [128]:
date.today()

datetime.date(2024, 4, 2)

In [6]:
import pandas as pd

In [135]:
result = get_today_tasks(date.today())
# st.write(result)
result_df = pd.DataFrame(result,columns=['guid', 'title', 'tag', 'deadline', 'deadline_date','about', 'task_status', 'time_estimation', 'start_time', 'end_time', 'deadline_met'])
# clean_df= result_df[['title', 'task_status', 'deadline']]
result_df

,guid,title,tag,deadline,deadline_date,about,task_status,time_estimation,start_time,end_time,deadline_met
0,10,HW222,home,2024-04-02 23:59:59.999999,2024-04-02,,To-Do,0,None,None,None
1,11,HW333,home,2024-04-02 23:59:59.999999,2024-04-02,,To-Do,0,None,None,None

In [110]:
result_df = pd.DataFrame(result,columns=['guid', 'title', 'tag', 'deadline', 'about', 'task_status', 'time_estimation', 'start_time', 'end_time', 'deadline_met'])
result_df

,guid,title,tag,deadline,about,task_status,time_estimation,start_time,end_time,deadline_met
0,1,HW,studies,2024-03-20 23:59:59.999999,HW on course 096540,Done,2 hours,2024-03-20 09:00,2024-03-20 11:00,1.0
1,2,HW,studies,2024-03-21 23:59:59.999999,HW course 097222,To-Do,9 hours,2024-03-19 09:00,2024-03-21 11:00,1.0
2,4,HW,studies,2024-03-21 23:59:59.999999,HW course 097222,Done,9 hours,2024-03-19 09:00,2024-03-21 11:00,1.0
3,5,HW,studies,2024-04-03 23:59:59.999999,,In-Progress,2,2024-04-02 11:35:03.871277,None,NaN
4,6,HW,studies,2024-04-03 23:59:59.999999,,In-Progress,2,2024-04-02 11:35:27.742557,None,NaN
5,7,cleannnnn,home,2024-04-03 23:59:59.999999,,Done,0,None,2024-04-02 11:41:20.207749,1.0
6,8,clean1,home,2024-04-01 23:59:59.999999,,Done,0,None,2024-04-02 11:46:16.362762,0.0

In [111]:
clean_df= result_df[['title', 'task_status', 'deadline']]
clean_df

       title  task_status                    deadline
0         HW         Done  2024-03-20 23:59:59.999999
1         HW        To-Do  2024-03-21 23:59:59.999999
2         HW         Done  2024-03-21 23:59:59.999999
3         HW  In-Progress  2024-04-03 23:59:59.999999
4         HW  In-Progress  2024-04-03 23:59:59.999999
5  cleannnnn         Done  2024-04-03 23:59:59.999999
6     clean1         Done  2024-04-01 23:59:59.999999

In [112]:
clean_df

       title  task_status                    deadline
0         HW         Done  2024-03-20 23:59:59.999999
1         HW        To-Do  2024-03-21 23:59:59.999999
2         HW         Done  2024-03-21 23:59:59.999999
3         HW  In-Progress  2024-04-03 23:59:59.999999
4         HW  In-Progress  2024-04-03 23:59:59.999999
5  cleannnnn         Done  2024-04-03 23:59:59.999999
6     clean1         Done  2024-04-01 23:59:59.999999

In [115]:
clean_df= result_df[['title', 'task_status', 'deadline']]
clean_df['deadline'] = pd.to_datetime(clean_df['deadline'])
clean_df

C:\Users\DELL\AppData\Local\Temp/ipykernel_18760/56510828.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       title  task_status                   deadline
0         HW         Done 2024-03-20 23:59:59.999999
1         HW        To-Do 2024-03-21 23:59:59.999999
2         HW         Done 2024-03-21 23:59:59.999999
3         HW  In-Progress 2024-04-03 23:59:59.999999
4         HW  In-Progress 2024-04-03 23:59:59.999999
5  cleannnnn         Done 2024-04-03 23:59:59.999999
6     clean1         Done 2024-04-01 23:59:59.999999

In [117]:
clean_df['deadline']

0   2024-03-20 23:59:59.999999
1   2024-03-21 23:59:59.999999
2   2024-03-21 23:59:59.999999
3   2024-04-03 23:59:59.999999
4   2024-04-03 23:59:59.999999
5   2024-04-03 23:59:59.999999
6   2024-04-01 23:59:59.999999
Name: deadline, dtype: datetime64[ns]

In [119]:
# Get the current datetime
now = datetime.now()

# Calculate the difference between 'deadline' and the current datetime
clean_df['time_diff'] = now - clean_df['deadline']
clean_df

C:\Users\DELL\AppData\Local\Temp/ipykernel_18760/1411988970.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       title  task_status                   deadline                time_diff
0         HW         Done 2024-03-20 23:59:59.999999  12 days 14:43:02.331757
1         HW        To-Do 2024-03-21 23:59:59.999999  11 days 14:43:02.331757
2         HW         Done 2024-03-21 23:59:59.999999  11 days 14:43:02.331757
3         HW  In-Progress 2024-04-03 23:59:59.999999 -2 days +14:43:02.331757
4         HW  In-Progress 2024-04-03 23:59:59.999999 -2 days +14:43:02.331757
5  cleannnnn         Done 2024-04-03 23:59:59.999999 -2 days +14:43:02.331757
6     clean1         Done 2024-04-01 23:59:59.999999   0 days 14:43:02.331757